.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo {
  width: 100%;
  height: auto;
  flex-basis: calc((100% - 60px) / 4);
}

.container .photo:nth-child(4n + 1) img {
  border: 5px solid red;
}
.photo img {
  border: 5px solid rgb(92, 92, 92);
  border-radius: 50%;
}

.container .photo:hover img {
  border: 5px solid yellow;
  transform: rotate(45deg);
}

@media (max-width: 900px) {
  .photo {
    width: 100%;
    height: auto;
    flex-basis: calc((100% - 20px) / 2);
  }
}

@media (max-width: 500px) {
  .photo {
    width: 100%;
    height: auto;
    flex-basis: 100%;
  }
}
